@model IEnumerable<string>

<div class="list-group">
    <a class="list-group-item list-group-item-action @(string.IsNullOrEmpty((string?)ViewBag.SelectedCategory) ? "active" : "")"
       asp-controller="Home" asp-action="Index" asp-route-page="1" asp-route-reset="true">
        Home
    </a>
    @foreach (var c in Model)
    {
        <a class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == c ? "active" : "")"
           asp-controller="Home" asp-action="Index" asp-route-category="@c" asp-route-page="1">
            @c
        </a>
    }
    
    <div class="list-group-item">
        <strong>Управління подіями</strong>
    </div>
    <a class="list-group-item list-group-item-action" asp-controller="Event" asp-action="Index">
        Список подій
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Event" asp-action="Create">
        Створити подію
    </a>
    
    <div class="list-group-item">
        <strong>Управління пожертвами</strong>
    </div>
    <a class="list-group-item list-group-item-action" asp-controller="Donation" asp-action="Index">
        Список пожертв
    </a>
    <a class="list-group-item list-group-item-action" asp-controller="Donation" asp-action="Create">
        Створити пожертву
    </a>
</div>


