@model CharityHub.Models.ViewModels.EventsListViewModel

@foreach (var e in Model.Events)
{
    <partial name="ProductSummary" model="e" />
}

<div class="m-3">
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
    {
        <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-outline-primary")"
           asp-controller="Home" asp-action="Index" asp-route-page="@i" asp-route-category="@Model.CurrentCategory">@i</a>
    }
</div>
